.btnblrbs {
    font-size: 19px;
    background-color: transparent;
    border-radius: 9px;
    padding:8px 15px;
}

.btnblrbs:hover {
    transition: ease-in 0.5s;
    color:white;
    
}

.redbtn {
    border:1px solid #D76574;
    color:#D76574;
}


.redbtn:hover {
    background-color: #D76574;
}

.text-red{
    color:#D76574;
}

.yellowbtn {
    border:1px solid #EBCB69;
    color:#EBCB69;
}

.yellowbtn:hover {
    background-color:#EBCB69;
}

.bluebtn {
    border:1px solid #3C687D;
    color:#3C687D;
}

.bluebtn:hover {
    background-color:#3C687D;
}

.greenbtn {
    border:1px solid #75B48D;
    color:#75B48D;
}

.greenbtn:hover {
    background-color:#75B48D;
}

.blbtxt {
    color: #575151;
}

.text-yllw {
    color:#EBCB69;
}

.text-blue {
    color:#3C687D;
}

.text-grn {
    color:#75B48D;
}

.services {
    min-height: 500px;
    padding:40px 50px 20px;
    background-color: #182430;
}

.thirds {
    float:left;
    width:33%;
    margin:0px;
}

.blurbs {
    margin:40px auto 0px;
}

.interested {
    background: url(../images/laptop.png) no-repeat right bottom, url(../images/color.png) repeat;
    background-size: 49%;
    height:370px;
}

.btns {
    background-color: #E84278 ;
    border:1px solid #E84278;
    padding: 12px 15px;
    color:white;
    font-weight: 500;
    box-shadow: 2px 1px 8px #888888 ;
}

footer {
    background-color: #FFEFEF;
    min-height:380px;
}

.quarter {
    float: left;
    margin: 0;
    width: 25%;
}

.hero {
    background: url(../images/patients/956.png) no-repeat;
    background-size: cover;
    min-height:500px;
}

.himg {
    background: url(../images/home.png) no-repeat right;
    background-size: 52%;
}

.h1, .h2, .h3, .h4 {
    font-family: 'Roboto', sans-serif;
}


.h5, .h6, p {
    font-family: 'Open Sans', sans-serif;
}

.text-grey {
    color: #A3A8AE
}

.tick-text {
    font: Medium 26px Roboto;
}

.pills {
    background: url("../images/health/red-and-white-medication-pills-3683041.png") no-repeat center;
    min-height: 250px;
    
}

.pill-text {
    font: Bold 55px Open Sans;
    color:#5E5151;
}

.dimg {
    background: url("../images/15571.png") no-repeat top center ;
    height:100%;
    background-size:cover;
    position: fixed;
    left:0

}

@media only screen and (max-width:770px){
    .dimg {
        display: none;
    }   
}

.rigm {
    position: absolute;
    right:0
}

.fplc input::placeholder {
    color:#43425D;
    font-size: 15px;
}

.fplc input:focus {
    outline:none;
}