html {
    scroll-behavior: smooth;
}

.btnblrbs {
    font-size: 19px;
    background-color: transparent;
    border-radius: 9px;
    padding: 8px 15px;
}

.btnblrbs:hover {
    transition: ease-in 0.5s;
    color: white;
}

.redbtn {
    border: 1px solid #D76574;
    color: #D76574;
}

.redbtn:hover {
    background-color: #D76574;
}

.text-red {
    color: #D76574;
}

.yellowbtn {
    border: 1px solid #EBCB69;
    color: #EBCB69;
}

.yellowbtn:hover {
    background-color: #EBCB69;
}

.bluebtn {
    border: 1px solid #3C687D;
    color: #3C687D;
}

.bluebtn:hover {
    background-color: #3C687D;
}

.greenbtn {
    border: 1px solid #75B48D;
    color: #75B48D;
}

.greenbtn:hover {
    background-color: #75B48D;
}

.blbtxt {
    color: #575151;
}

.text-yllw {
    color: #EBCB69;
}

.text-blue {
    color: #3C687D;
}

.text-grn {
    color: #75B48D;
}

.services {
    min-height: 500px;
    padding: 40px 50px 20px;
    background-color: #182430;
}

.thirds {
    float: left;
    width: 33%;
    margin: 0px;
}

.blurbs {
    margin: 40px auto 0px;
}

.interested {
    background: url(../images/laptop.png) no-repeat right bottom, url(../images/color.png) repeat;
    background-size: 49%;
    height: 370px;
}

.btns {
    background-color: #FC546E;
    border: 1px solid #FC546E;
    padding: 12px 15px;
    color: white;
    font-weight: 500;
    box-shadow: 3px 2px 8px #888888;
}

.btns:hover {
    box-shadow: none;
    color: white;
}

footer {
    background-color: #FFEFEF;
    min-height: 380px;
}

.quarter {
    float: left;
    margin: 0;
    width: 25%;
}

.hero {
    background: url(../images/patients/956.png) no-repeat;
    background-size: cover;
    min-height: 500px;
}

.himg {
    background: url(../images/home.png) no-repeat right;
    background-size: contain;
}

.h1, .h2, .h3, .h4 {
    font-family: 'Roboto', sans-serif;
}

.h5, .h6, p {
    font-family: 'Open Sans', sans-serif;
}

.text-grey {
    color: #A3A8AE
}

.text-blacks {
    color: #363131
}

.tick-text {
    font: Medium 26px Roboto;
}

.pills {
    background: url("../images/health/red-and-white-medication-pills-3683041.png") no-repeat center;
    min-height: 250px;
}

.pill-text {
    font: Bold 55px Open Sans;
    color: #5E5151;
}

.dimg {
    background: url("../images/15571.png") no-repeat top center;
    height: 100%;
    background-size: cover;
    position: fixed;
    left: 0
}

@media only screen and (max-width:770px) {
    .dimg {
        display: none;
    }
    .himg {
        background-image: none;
    }
}

.rigm {
    position: absolute;
    right: 0
}

.fplc input::placeholder {
    color: #43425D;
    font-size: 15px;
}

.fplc input:focus {
    outline: none;
}

.btn-green {
    background-color: #49BB75;
    color: white;
    padding: 8px 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.btn-green:hover {
    box-shadow: none;
    color: white;
}

.herodct {
    background: url(../images/doctor/hero.png) no-repeat;
    background-size: cover;
    min-height: 500px;
}

.herorsh {
    background: url(../images/researcher/mcito.png) no-repeat;
    background-size: cover;
    min-height: 500px;
}

form.contact input, form.contact textarea, form.contact button {
    color: #3C687D;
    font-weight: 500;
}

.hey {
    z-index: 9999;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    animation-name: opate;
    animation-duration: 0.4s
}

.doct, .imga {
    animation-name: opate;
    animation-duration: 2s;
}

/* Add Animation */

@keyframes opate {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.ic {
    color: grey;
}

.ice {
    color: black;
}

.divided {
    display: flex;
    align-items: center;
}

.divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
}

)